body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
h1{
    /*width: 30%;  if width is given margin should be used inted of text-align*/
    color: #66bfbf;
    font-size: 5.625rem; /* 16px = 100% = 1em */
    /*line-height: 2;*/
    margin: 100px auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2{
    color: #66bfbf;
    font-weight: normal;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
p{
    line-height: 2;
}
hr{
    color: #858888;
    border-style: dotted none none none;
    border-width: 5px;
    width: 5%;
    margin: 100px auto;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    text-decoration: none;
}
a: :hover{
    color: #fffff;
}
.top-container{
    background-color: #eaf6f6;
    position: relative;
    padding-top: 50px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.intro{
    width: 30%;
    margin: auto;
}
.middle-container{
    margin: 100px 0px;
}
.skill-row{
    width: 50%;
    margin: auto;
    text-align: left;
    line-height: 2;
}
.code-image{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.computer-image{
    width: 25%;
    float: right;
    margin-left: 30px;
}
/*.code-skill-desc{
    clear: left;
}
.computer-skill-desc{
    clear: right;
}*/
.contact-message{
    width: 40%;
    margin: 40px auto 50px;
}
.bottom-container{
    background-color: #66bfbf;
    padding: 40px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.copyright{
    color: #FFFFFF;
    font-size: 0.75rem;
    padding: 20px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: Arial;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
     }
    
    .btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
      }